.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background: #282c34;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .3s ease;
}

.logo:hover {
  color: #dcdcdc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button, a {
  cursor: pointer;
}

.modal-error, .modal-success {
  animation: fadeIn .4s ease;
}

.modal-error {
  color: crimson;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  font-size: 20px;
  border: 2px solid crimson;
  margin: 0 auto;
}

.modal-success {
  background: lightgreen;
  color: #323232;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}